body {
  background-color: #1A1025; /* Define o fundo da página */
  font-family: 'Inter';     
}   

h1 {
  color: #FFFFFF; /* Define a cor do título */
  font-size: 21px;
  font-weight: 600;
  margin-top: 50px;
}

p {
  color: #C4B5D4; /* Define a cor do parágrafo */
  font-size: 13px;
  
  font-weight: 300;
}